.swiper {
    width: 74rem;
    height: 20rem;
    margin: 0px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #135846;
}

.swiper-pagination-bullet {
    background-color: #135846;
}